@{
    Layout = "";
} 

<div class="container">
    <div class="main-title">
        <h1>What we Offer</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <img src=@Url.Content("~/img/my-properties/my-properties-3.jpg") alt="blog-06" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="">A hassle-free stay</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">

                            <span><a href="#"><i class=""></i></a></span>
                        </div>
                        <!-- paragraph -->
                        <p>Clean and comfortable room with, all amenities, share kitchen, bathroom available.</p>
                        <div class="clearfix"></div>

                    </div>
                </div>

                <!-- Blog box end -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <img src=@Url.Content("~/img/my-properties/my-properties-1.jpg") alt="blog-06" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="">Move-in/out when you want</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">

                            <span><a href="#"><i class=""></i></a></span>
                        </div>
                        <!-- paragraph -->
                        <p>Decide to move in as per your convenience. Select Date/Time and just move-in</p>
                        <div class="clearfix"></div>
                        <!-- Btn -->

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <img src=@Url.Content("~/img/my-properties/my-properties-2.jpg") alt="blog-06" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="blog-single.html">Close with certainty</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">

                            <span><a href="#"><i class=""></i></a></span>
                        </div>
                        <!-- paragraph -->
                        <p>No contingencies or fall-through risk so you can focus on your comfartable stay with us</p>
                        <div class="clearfix"></div>
                        <!-- Btn -->

                    </div>
                </div>
            </div>
        </div>
    </div>