@{
    Layout = "";
}    
  <!-- What are you looking for? strat -->
<div class="our-service our-service-two">
    <div class="our-service-inner">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1><span>How it</span> Works</h1>
            </div>
            <div class="row mrg-btm-30 wow animated" style="visibility: visible;">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-04s" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="content">
                        <i class="glyphicon glyphicon-search"></i>
                        <h4>Find</h4>
                        <p>Search a rental nearby </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-04s" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="content">
                        <i class="flaticon-internet"></i>
                        <h4>Schedule</h4>
                        <p>Schedule a visit </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-04s" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="content">
                        <i class="flaticon-people"></i>
                        <h4>Visit</h4>
                        <p>Have a look at where your next stay would be</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-04s" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="content">
                        <i class="flaticon-symbol"></i>
                        <h4>Confirm</h4>
                        <p>Confirm looking and pay through any medium </p>
                    </div>
                </div>
            </div>
            @*<a href="#" class="btn button-md button-theme">Read More</a>*@
        </div>
    </div>
</div>
<!-- What are you looking for? strat -->
